<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sathish Global Tech LEADERS Home Page</title>
  <link rel="stylesheet" href="/css/styles3.css"> <!-- Make sure the path is correct -->
</head>
<body>

<h2>Sathish Global Tech LEADERS Home Page</h2>

<hr>

<p>
  See you in Brazil ... for our annual Leadership retreat!
  <br>
  Keep this trip a secret, don't tell the regular employees 😄
</p>

<hr>

<a th:href="@{/}" class="btn">⬅ Back to Home Page</a>


<footer>
  &copy; 2025 Sathish Global Tech. All rights reserved.
</footer>

</body>
</html>
